.tasks-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
}

.li-container {
    margin: 10px;
    background-color: #7777;
    border: 2px solid #7785;
    border-radius: 5px;
}

ul {
    padding-inline-start: 0px;
}